html{
    box-sizing:border-box;
    font-size:100%;
}
body
{   box-sizing:border-box;
    margin:0px;
    padding:0px;
    background-image:url("assets/background_img.jpg");
    color:white;

}
header
{
    display:flex;
    justify-content:space-between;
    height:5em;
    width:100%;
    margin:0;
    padding:10px 10px;
    border:2px 5px solid black;
    border-radius:0px 0px 15px 15px;
    box-sizing:border-box;
}


h1
{
   font-family: 'Big Shoulders Display', cursive;
   font-size:10em;
   text-align:center;
   margin:0;
   padding:0;
   color:white;
}
.heading
{
font-family: 'Bangers', cursive;
font-size:3em;

text-align:center;

}
p{
    font-family: 'Big Shoulders Display', cursive;
    padding-left:13em;
    font-weight:bold;
    letter-spacing:0.1em;
    color:white;s
}

.neon_text_pink
{
     text-shadow:
     1px 1px 2px #ff0099,
     0 0 25px #ff0099,
     0 0 5px #ff0099;
}
.neon_text_blue
{
     text-shadow:
     1px 1px 2px #00c2cb,
     0 0 25px #00c2cb,
     0 0 5px #00c2cb;
}
.neon_text_yellow
{
     text-shadow:
     1px 1px 2px #FFD600,
     0 0 25px #FFD600,
     0 0 5px #FFD600;
}
.neon_text_green
{
     text-shadow:
     1px 1px 2px green,
     0 0 25px green,
     0 0 5px green;
}
.neon_text_green
{
     text-shadow:
     1px 1px 2px green,
     0 0 25px green,
     0 0 5px green;
}
.neon_text_red
{
     text-shadow:
     1px 1px 2px rgba(255,0,0,0.5),
     0 0 25px rgba(255,0,0,0.5),
     0 0 5px rgba(255,0,0,0.5);
}
main
{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: stretch;
    padding:0;
}
section
{
    padding:0em;
    margin:0;
    display:flex;
    width:33%;
    min-width:300px;
    flex-flow:column wrap;
    justify-content:space-between;
    align-items:stretch;
    box-sizing:border-box;
}
.institute
{
    display:inline-block;

    margin:2%;
    box-sizing:border-box;



    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 30px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.inst_text
{
    color:white;
    font-weight:bolder;
    font-size:1.5em;
}

#placid{background-image:url("assets/placid_logo.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
#mtrs{background-image:url("assets/mtrs_logo.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;}
#model{background-image:url("assets/model_logo.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;}

.skills
{

    display:flex;
    flex-flow:column wrap;
    justify-content:space-around;
    align-items:flex-start;
    height:50%;
    width:33%;


}

.links
{   display:flex;
    flex-flow:column wrap;
    justify-content:space-around;
    align-items:flex-start;
    height:50%;
    width:33%;
    padding-right:5px;

}

}
#gmail
{
    height:3em;
    filter: drop-shadow( 3px 3px 15px red);
    border:none;
}
#linkedin
{
    height:3em;
    filter: drop-shadow( 3px 3px 15px blue);
    border:none;
}
#whatsapp
{
    height:3em;
    filter: drop-shadow( 3px 5px 10px  rgba(0,180,0,1));
    border:none;
}
#github
{
    height:3em;
    filter: drop-shadow( 3px 5px 10px white);
    border:none;
}
#hackerrank
{
    height:3em;
    filter: drop-shadow( 3px 5px 10px rgba(35, 255, 15));
    border:none;

}
.java,.python,.html_css
{   width:200px;
    height:200px;
    box-sizing:border-box;
    margin:auto;
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
}
.java
{
     background-image:url("assets/java_logo.png");
}
.python
{
    background-image:url("assets/python_logo.png");
}
.html_css
{
    background-image:url("assets/html_css_logo.png");
    text-align:center;
}
a
{
    text-align:center;
}
div.skills
{

}